/* */
* {
    border: 3px solid red;
} /**/

body{
    background-color: #faffff;
    /* * /
    color: rgba(255, 255, 255, 1); /**/
}

/* */
.left_sideBar {
    margin: 0 auto;
    width: 30%;
    height: 109em;
    float: left;
    background-color: #888888;
}
/**/
